body {
	background-image: url("../images/maxresdefault.jpg")
	
		}

h1 {
	font-size: 60px;
	color: #FDFEFE;
	font-family: Lucida Console;
	font-style: italic;

}		

#character-input {
	font-size: 15px;
}

label {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	color: #FDFEFE;
}

.imgbox {
	display: inline-block;
}

img {
	width: 350px;
	height: 300px;
	margin-right: 5px;
}

p {
	color: #FDFEFE;
	font-size: 15px;
}

button {
	font-size: 15px;
}